/* src/components/chatbot/ChatbotIcon.module.css */
.chatbotIconWrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}

.chatbotIconWrapper:hover {
  transform: scale(1.1);
}

.chatbotIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
